<h1>Cities</h1>

<ul id="cities_list">
  <li id="aus" class="south">Austin</li>
  <li id="bos" class="east">Boston</li>
  <li id="ord" class="midwest">Chicago</li>
  <li id="lax" class="west">Los Angeles</li>
  <li id="jfk" class="east">New York</li>
  <li id="sfo" class="west">San Francisco</li>
</ul>

<script>
  // Write your JS here.
  // Open the JS console and refresh the page to see the output.

  //FizzBuzz: Challenge:
  //Try writing fizz buzz in JavaScript:
  //For the numbers 1 through 100, print “fizz” if the number is a multiple of 3, “buzz” if the number is a multiple of 5, and “fizzbuzz” if the number is a multiple of both.

  //Create Function to Call FizzBuzz
  const fizzBuzz = (num) => {
    if (num % 3 === 0 && num % 5 === 0){
      console.log("fizzbuzz")
    } else if (num % 3 === 0){
      console.log("fizz")
    } else if (num % 5 === 0) {
      console.log("buzz")
    } else {
      console.log(num)
    }
  }

  for (let i = 1; i < 101; i++) {
    fizzBuzz(i)
  }

</script>
