<h2>jQuery Notes</h2>

<ul id="cities_list">
  <li id="aus" class="south">Austin</li>
  <li id="bos" class="east">Boston</li>
  <li id="ord" class="midwest">Chicago</li>
  <li id="lax" class="west">Los Angeles</li>
  <li id="jfk" class="east">New York</li>
  <li id="sfo" class="west">San Francisco</li>
</ul>


<div id="bye">Click me</div>
<button class="giraffe" id="zebra">Zebraaaa</button>

<script>
//jQuery can select any dom element by #id, .class or tag by using $("...") or jQuery("...")
let chi = $("#ord");

//jQuery Methods

//.text()
console.log(chi.text())

//.css()
chi.css("background-color", "green");

//append
list = $("#cities_list");

list.append(chi);

//Automatic loops

$(".east").css("border", "thin blue solid");

//Adding Elements: Just use plain html inside a jQuery tag
let den = $('<li id="den" class="west">Denver</li>');

list.append(den);

//Bonuses for Visibility:
chi.hide();

chi.show();

chi.toggle();

chi.hide();

chi.fadeIn();

chi.fadeOut();

chi.fadeToggle();

chi.fadeToggle();

chi.fadeToggle();

chi.fadeToggle(5000, function() {
  this.remove(); //This refers to chi
});


//Event Handlers

$("body").on("click", "#bye", function() {
  $(".west").slideToggle();
});

//Since Javascript is Async we cannot assume that something is fully loaded before something dependent on it executes so
//$(document).ready(cb)

//In order to reliably attatch an event handler:

$(document).ready(function() {
    $("#zebra").on("click", ".giraffe", function() {
      console.log("clicked!");
    });
  });

  $(document).ready(function(){
    console.log("hello")
  })

</script>
